body {
  color: var(--main-text-cl);
  background-color: var(--light-cl);

  font-family: Roboto, Raleway, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  @include container;
}

.section {
  @include section;
}
