body {
  color: var(--main-text-cl);
  background-color: var(--light-cl);

  font-family: Roboto, Raleway, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  @include container;
  @media screen and (min-width: 768px) {
    @include container($w: 738px);
  }
  @media screen and (min-width: 1200px) {
    @include container($w: 1170px);
  }
}

.section {
  @include section;
}
