:root {
  // colors
  --main-text-cl: #212121;
  --accent-bg: #f5f4fa;
  --accent-cl: #2196f3;
  --light-cl: #fff;
  --light-text-cl: #757575;
  --transparent-bg-cl: #2f303a;
  --ourteam-bg-cl: #f5f4fa;
  --border-cl: #eee;
  --social-links-cl: #afb1b8;
  --overlay-hero: rgba(47, 48, 58, 0.4);
  --dark-cl: #000;

  /* animations */
  --animation-time: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
