.hero {
  background-image: linear-gradient(var(--overlay-hero), var(--overlay-hero)),
    url("../images/background/hero/hero_s_@1x.webp");
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(var(--overlay-hero), var(--overlay-hero)),
      url("../images/background/hero/hero_s_@2x.webp");
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(var(--overlay-hero), var(--overlay-hero)),
      url("../images/background/hero/hero_m_@1x.webp");
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--overlay-hero),
          var(--overlay-hero)
        ),
        url("../images/background/hero/hero_m_@2x.webp");
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(var(--overlay-hero), var(--overlay-hero)),
      url("../images/background/hero/hero_l_@1x.webp");
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--overlay-hero),
          var(--overlay-hero)
        ),
        url("../images/background/hero/hero_l_@2x.webp");
    }
  }
  background-repeat: no-repeat;
  background-size: cover;
  padding: 118px 0;
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }
  max-width: 1600px;
  margin: auto;
  position: relative;
  &__title {
    @include typography(
      $ff: Roboto,
      $fw: 900,
      $fs: 26px,
      $lh: 42px,
      $ls: 0.06em
    );
    text-align: center;
    text-transform: uppercase;
    color: var(--light-cl);
    max-width: 360px;
    margin: auto;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      @include typography(
        $ff: Roboto,
        $fw: 900,
        $fs: 44px,
        $lh: 60px,
        $ls: 0.06em
      );
      max-width: 696px;
    }
  }
  &__button {
    @include typography(
      $ff: Roboto,
      $fw: 700,
      $fs: 16px,
      $lh: 30px,
      $ls: 0.06em
    );
    background-color: var(--accent-cl);
    color: var(--light-cl);
    padding: 10px 32px;
    display: flex;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
