.filter {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 8px;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
  // justify-content: center;
  padding: 0;
  margin-bottom: 50px;
  &__btn {
    background-color: var(--accent-bg);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    border-radius: 4px;
    padding: 6px 22px;

    transition-property: color, background-color, box-shadow;
    transition-duration: var(--animation-time);
    transition-timing-function: var(--transition-timing-function);
    &:hover,
    &:focus {
      background-color: var(--accent-cl);
      color: var(--light-cl);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
.portfolio {
  @include section($pt: 94px, $pb: 94px);
  &__description {
    font-size: 18px;
    line-height: calc(30 / 18);
    color: var(--light-cl);
    margin-bottom: auto;
  }
  &__link {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  &__item {
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - (30px * 2)) / 3);
    }
    width: 100%;
    transition-property: box-shadow;
    transition-duration: var(--animation-time);
    transition-timing-function: var(--transition-timing-function);
    &:hover,
    &focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  &__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__name {
    @include typography($fw: 700, $fs: 18px, $lh: 36px, $ls: 0.06em);
    margin-bottom: 4px;
  }
  &__thumb {
    position: relative;
    overflow: hidden;
  }
  &__thumb-overlay {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(101%);

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);

    transition-property: transform;
    transition-duration: var(--animation-time);
    transition-timing-function: var(--transition-timing-function);
  }
  &__type {
    @include typography($fs: 16px, $lh: 30px);
    color: var(--light-text-cl);
  }
  &__wrapper {
    flex-grow: 1;
    padding: 20px 24px;
    border-right: 1px solid var(--border-cl);
    border-left: 1px solid var(--border-cl);
    border-bottom: 1px solid var(--border-cl);
  }
}

.portfolio__item:hover .portfolio__thumb-overlay {
  transform: translateY(0);
}
