.services.section {
  @include section($pt: 0);
}
.services {
  &__img {
    display: block;
    max-width: 100%;
  }
  &__item {
    width: calc((100% - (30px * 2)) / 3);
  }
  &__list {
    display: flex;
    gap: 30px;
    width: 100%;
    margin: auto;
  }
  &__overlay {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(47, 48, 58, 0.8);
  }
  &__text {
    @include typography($fw: 700, $lh: 16px);
    text-transform: uppercase;
    color: var(--light-cl);
  }
  &__thumb {
    position: relative;
  }
}
